body {
    font-family: $primary-font;
}
p{
    font-family: $body-font
}

/* =========== Top bar Css Start=========== */
#top_bar{
    background-color: $primary-color-3d;
}
#top_bar .col-lg-6  i{
    color: $primary-color;
    cursor: pointer;
}
#top_bar .col-lg-6  i:hover{
    color: $primary-color;
    transition: .5s;
}
#top_bar .col-lg-6 p span{
    text-transform: uppercase;
}
#top_bar .col-lg-6 p span:last-child{
    color: $primary-color;
}
#top_bar .col-lg-6 p{
    color:$light-color;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    padding: 15px 0px;
}
select{ 
    border: transparent;
    background-color: $primary-color-3d;
    color:$light-color;
    padding: 15px 0px;
}
option{
    background-color: $primary-color-3d;
    color:$light-color;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

  
}
#top_bar .col-lg-6 ul li a{
    display: inline-block;
    color:$light-color;
    padding: 15px 0px ;
}
#top_bar .col-lg-6 ul li i{
    padding: 15px 10px 15px 0px;
    color: $light-color
}
#top_bar .col-lg-6 ul span{
    border: 1px solid rgba(140, 140, 140, 1);
    height: 30%;
    margin: 17px 20px;
}
/* =========== Top bar Css End =========== */

/* =========== Navbar Css Start=========== */

#primary_nav .collapse ul li a{
    display: inline-block;
    color: $text-color;
    font-family:$primary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 37px 43px 37px 0px;
}
#primary_nav .collapse ul li a:hover{
    color: $primary-color;
    transition: .5s;
}
#primary_nav .collapse ul li button{
    border: none;
    background-color:transparent;
    padding: 37px 43px 37px 0px;
    position: relative;
}
#primary_nav .collapse ul li button:hover{
    color: $primary-color;
    transition: .5s;
}
#primary_nav .collapse ul li span{
    position: absolute;
    color:$light-color;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-color: $primary-color;
    border-radius: 50%;
    text-align: center;
    top: 40px;
    right: 147px;
    font-size: 12px;
}
#primary_nav .collapse ul li .btn{
    font-size: 16px;
}
/* Right Toggle Canvas */
#offcanvasRight{
    width: 465px;
}
#offcanvasRight .offcanvas-title{
    font-family: $primary-font;
    font-weight: 700;
    font-size: 24px;
    margin:33px 0 0 15px;
    padding-bottom: 10px;

}
#offcanvasRight h5{
    border-bottom:1px solid rgb(206, 202, 202);
    width: 90%;
}
#offcanvasRight .offcanvas-body img{
    width: 75px;
    height: 75px;
}
#offcanvasRight .offcanvas-header{
    background-color:$light-color;
    padding-top: 48px;
    padding-bottom: 0;
    position: relative;
}
#offcanvasRight .offcanvas-header button{
    color: #000;
    font-size: 15px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s;
    position: absolute;
    top: 20px;
    right: 40px;
}
#offcanvasRight .offcanvas-header button:hover{
    color: $primary-color;
    border-color: $primary-color;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    line-height: 63px;
}
#offcanvasRight .offcanvas-body .item{
    border-bottom:1px solid rgb(206, 202, 202);
    width: 90%;
    margin-left: 15px;
}
#offcanvasRight .offcanvas-body .item{
    padding: 20px 0;
}
#offcanvasRight .offcanvas-body .item img{
    margin-right: 15px;
}
#offcanvasRight .offcanvas-body .item ul{
    margin-top: 10px;
}
#offcanvasRight .offcanvas-body .item ul li{
    margin-bottom: 5px;
}
#offcanvasRight .offcanvas-body .item ul li a{
    font-size: 16px;
    color: $text-color;
    font-family: $primary-font;
    font-weight: 600px;
}
#offcanvasRight .offcanvas-body .item ul .item_cost{
    color: $primary-color;
}
#offcanvasRight .offcanvas-body .item i{
    margin: 27px 0 0 158px;
}
#offcanvasRight .offcanvas-body p{
    border-bottom: none;
    font-size: 18px;
    font-family: $body-font;
    color: $text-color;
    margin: 18px 0 18px 15px;
}
#offcanvasRight .offcanvas-body .button{
    margin-left: 15px;
    margin-bottom: 100px;

}
#offcanvasRight .offcanvas-body .button button{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    padding: 15px 54px;
    transition: .5s;
    cursor: pointer;
}
#offcanvasRight .offcanvas-body .button button:hover{
    background-color: $primary-color-3d;
    border-color: $primary-color-3d;
}
#offcanvasRight .offcanvas-body .button button a{
    color:$light-color;
    font: size 18px; ;
    font-family:$primary-font ;
    font-weight: 600;
}
/* Right Toggle Canvas */
/* popup-search-box css start */
.popup-search-box{
    height: 800px;
    background-color: #000000e8;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.popup-search-box.show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    z-index: 99;
}
.popup-search-box #closeSearch{
    background-color: transparent;
    color: $primary-color;
    font-size: 22px;
    width: 60px;
    height: 60px;
    line-height: 63px;
    border-radius: 50%;
    border: 1px solid $primary-color;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s;
    position: absolute;
    top: 40px;
    right: 40px;
    align-items: center;
}
.popup-search-box #closeSearch:hover{
    background-color:$light-color;
    border-color: transparent;
    border-color: transparent;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    line-height: 63px;

}
.popup-search-box form{
    margin: 300px 350px 300px 400px;
    position: relative;
}
.popup-search-box input{
    padding: 15px 450px 15px 30px;
    border: none;
    background-color: transparent;
    border-radius: 30px;
    color:$light-color;
    font-family: $body-font;
    border: 2px solid $primary-color;
    font-size: 20px;
}
.popup-search-box form button{
    background-color: transparent;
    border: transparent;
    color:$light-color;
    position: absolute;
    right: 88px;
    top: 17px;
    font-size: 25px;
}
/* popup-search-box css ended */
/* side manu css start */
.btn{
    border: none;
    background-color: $primary-color;
    font-size: 30px;
    padding: 10px 14px 6px 14px;
    border: 1px solid $primary-color;
}
#offcanvasExample .offcanvas-header{
    background-color: rgba(28,185,200,0.1);
    padding-top: 40px;
    padding-bottom: 30px;
    align-items: center;
    position: relative;
}
#offcanvasExample .offcanvas-header a{
   margin-left: 100px;
}
#offcanvasExample .offcanvas-header button{
    font-size: 35px;
    position: absolute;
    top: 30px;
    right: 30px;
    width: auto;
    height: auto;
}
.offcanvas-body .manu_name{
    margin-top: 25px;
    margin-bottom: 35px;
}
.offcanvas-body .manu_name li a{
    display: inline-block;
    color: $text-color;
    border-bottom: 1px solid rgb(206, 202, 202);
    width: 90%;
    margin-right: 40px;
    margin-left: 20px;
    padding: 12px 0;
    font-size: 16px;
    font-family: $body-font;
}
.offcanvas-body .item_name .item_name_2{
    margin-bottom: 20px;

}
.offcanvas-body .item_name .item_name_2 a{
    color: $text-color;
    font-size: 16px;
    font-family: $body-font;
    margin-left: 20px;
}
.offcanvas-body .item_name .last_item_name a{
    color: $text-color;
    font-size: 16px;
    font-family: $body-font;
}
.offcanvas-body .item_name .item_name_2 a i{
    margin-right: 10px;
}
.offcanvas-body .item_name .last_item_name a i{
    margin-right: 10px;
}
.offcanvas-body .item_name .last_item_name{
    border-bottom: 1px solid rgb(206, 202, 202);
    width: 90%;
    padding-bottom: 35px;
    margin-left: 20px;
    margin-bottom: 35px;
}
.offcanvas .offcanvas-body .dropdown ul li select{
    background-color: transparent;
    color: $text-color;
    font-size: 16px;
    font-family: $primary-font;
}
.offcanvas .offcanvas-body .dropdown ul{
    margin: 0 30px 0 20px;
}
/* side manu css ended */
/* =========== Navbar Css End =========== */

/* =========== Section Heading Css Start =========== */
.section_heading h2{
    color: $text-color;
    text-align: center;
    font-family: $primary-font;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 36px;
}
/* =========== Section Heading Css End =========== */

/* =========== Footer Css Start=========== */
footer {
    background-color: $text-color;
}
footer .footer_upper {
    border-bottom: 1px solid $paragraph-color;
    padding: 76px 0;
}
footer .footer_upper .widget-1 ul li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: $light-color;
    color: rgba(68, 68, 68, 1);
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    -webkit-transition: .4s;
    transition: .4s;
    display: inline-block
}
footer .footer_upper .widget-1 ul li a:hover {
    background-color: $primary-color;
    color: $light-color;
}
footer .footer_lower {
    color: $text-color;
    padding: 70px 0;
}
footer .footer_lower .widget h4 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 22px;
    color: $light-color;
    font-family: $primary-font;
    font-weight: 700;
}
footer .footer_lower .widget nav ul li a {
    color: $light-color;
    font-family: $body-font;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    transition: 0.4s;
}
footer .footer_lower .widget nav ul li a:hover {
    color: $primary-color;
}
footer .footer_lower .widget nav ul li a::before {
    content: "\f054";
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    padding-right: 7px;
}
footer .footer_lower .widget table tr {
    font-family: $body-font;
    font-size: 16px;
    line-height: 28px;
}
footer .footer_lower .widget table tr th {
    padding-right: 18px;
}

footer .footer_lower .widget.widget-7,
footer .footer_lower .widget.widget-7 a {
    color: $light-color;
    font-family: $body-font;
    line-height: 28px;
}
footer .footer_lower .widget.widget-7 li {
    margin-bottom: 5px;
}
footer .footer_lower .widget.widget-7 i {
    font-size: 24px;
    color: $primary-color;
    padding-right: 10px;
}
footer .footer_lower .widget.widget-8 p {
    font-family: $body-font;
    margin-bottom: 23px;
    line-height: 28px;
    color: $light-color;
}
footer .footer_lower .widget.widget-8 form {
    background-color: $light-color;
}
footer .footer_lower .widget.widget-8 input {
    background: none;
    border: none;
    padding: 11px 10px;
    line-height: 28px;
    font-family: $body-font;
}
footer .footer_lower .widget.widget-8 button {
    border: none;
    color: $light-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    background: $primary-color;
    padding: 8px 17px;
}

/* =========== Footer Section Css End =========== */

/* =========== Copyright Section Css Start =========== */
#copyright {
    background-color: rgba(255, 2555, 255, 0.1);
}
#copyright p {
    color: $light-color;
    font-family: $body-font;
    font-size: 16px;
    line-height: 28px;
    padding: 21px 0;
}
#copyright p a {
    color: $primary-color;
}

/* =========== Copyright Section Css End =========== */
/* =========== Footer Css End =========== */