/* =========== Variable Css start =========== */
$primary-font: "Josefin Sans", sans-serif;
$body-font: "Roboto", sans-serif;
$text-color:#11161E;
$primary-color-3d:#151A32;
$light-color:#FFFFFF;
$primary-color:#FF6F61;
$primary-color-dark:#FF5645;
$paragraph-color:#444444;
$bg-color-light:#F1F1F1;
$bg-color-dark:#F1F3F4;
$shadow-10:0px 3px 10px 0px rgba(0,0,0,0.08);
$shadow-50:0px 0px 50px 0px rgba(21, 26, 50, 0.1);
$shadow-30:0px 5px 30px 0px rgba(17, 22, 30, 0.08);
/* =========== Variable Css End =========== */