/* =========== Top bar Css Start=========== */
#top_bar{
    background-color: var(--primary-color-3d);
}
#top_bar .col-lg-6  i{
    color: var(--light-color);
    cursor: pointer;
}
#top_bar .col-lg-6  i:hover{
    color: var(--primary-color);
    transition: .5s;
}
#top_bar .col-lg-6 p span{
    text-transform: uppercase;
}
#top_bar .col-lg-6 p{
    color: var(--light-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    padding: 15px 0px;
}
select{ 
    border: transparent;
    background-color: var(--primary-color-3d);
    color: var(--light-color);
    padding: 15px 0px;
}
option{
    background-color: var(--primary-color-3d);
    color: var(--light-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

  
}
#top_bar .col-lg-6 ul li a{
    display: inline-block;
    color: var(--light-color);
    padding: 15px 0px ;
}
#top_bar .col-lg-6 ul li i{
    padding: 15px 10px 15px 0px;
}
#top_bar .col-lg-6 ul span{
    border: 1px solid rgba(140, 140, 140, 1);
    height: 30%;
    margin: 17px 20px;
}
/* =========== Top bar Css End =========== */

/* =========== Navbar Css Start=========== */

#primary_nav .collapse ul li a{
    display: inline-block;
    color: var(--text-Color);
    font-family:var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 37px 43px 37px 0px;
}
#primary_nav .collapse ul li a:hover{
    color: var(--primary-color);
    transition: .5s;
}
#primary_nav .collapse ul li button{
    border: none;
    background-color:transparent;
    padding: 37px 43px 37px 0px;
    position: relative;
}
#primary_nav .collapse ul li button:hover{
    color: var(--primary-color);
    transition: .5s;
}
#primary_nav .collapse ul li span{
    position: absolute;
    color: var(--light-color);
    font-family: var(--primary-font);
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-color: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    top: 40px;
    right: 147px;
}
#primary_nav .collapse ul li .btn{
    font-size: 16px;
}
/* Right Toggle Canvas */
#offcanvasRight{
    width: 465px;
}
#offcanvasRight .offcanvas-title{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 24px;
    margin:33px 0 0 15px;
    padding-bottom: 10px;

}
#offcanvasRight h5{
    border-bottom:1px solid rgb(206, 202, 202);
    width: 90%;
}
#offcanvasRight .offcanvas-body img{
    width: 75px;
    height: 75px;
}
#offcanvasRight .offcanvas-header{
    background-color: var(--light-color);
    padding-top: 48px;
    padding-bottom: 0;
    position: relative;
}
#offcanvasRight .offcanvas-header button{
    color: #000;
    font-size: 15px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s;
    position: absolute;
    top: 20px;
    right: 40px;
}
#offcanvasRight .offcanvas-header button:hover{
    border-color: var(--primary-color);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    line-height: 63px;

}
#offcanvasRight .offcanvas-body .item{
    border-bottom:1px solid rgb(206, 202, 202);
    width: 90%;
    margin-left: 15px;
}
#offcanvasRight .offcanvas-body .item{
    padding: 20px 0;
}
#offcanvasRight .offcanvas-body .item img{
    margin-right: 15px;
}
#offcanvasRight .offcanvas-body .item ul{
    margin-top: 10px;
}
#offcanvasRight .offcanvas-body .item ul li{
    margin-bottom: 5px;
}
#offcanvasRight .offcanvas-body .item ul li a{
    font-size: 16px;
    color: var(--text-Color);
    font-family: var(--primary-font);
    font-weight: 600px;
}
#offcanvasRight .offcanvas-body .item ul .item_cost{
    color: var(--primary-color);
}
#offcanvasRight .offcanvas-body .item i{
    margin: 27px 0 0 158px;
}
#offcanvasRight .offcanvas-body p{
    border-bottom: none;
    font-size: 18px;
    font-family: var(--body-font);
    color: var(--text-Color);
    margin: 18px 0 18px 15px;
}
#offcanvasRight .offcanvas-body .button{
    margin-left: 15px;
    margin-bottom: 100px;

}
#offcanvasRight .offcanvas-body .button button{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 15px 54px;
    transition: .5s;
    cursor: pointer;
}
#offcanvasRight .offcanvas-body .button button:hover{
    background-color: var(--primary-color-3d);
    border-color: var(--primary-color-3d);
}
#offcanvasRight .offcanvas-body .button button a{
    color: var(--light-color);
    font: size 18px; ;
    font-family:var(--primary-font) ;
    font-weight: 600;
}
/* Right Toggle Canvas */
/* popup-search-box css start */
.popup-search-box{
    height: 800px;
    background-color: #000000e8;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.popup-search-box.show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    z-index: 99;
}
.popup-search-box #closeSearch{
    background-color: transparent;
    color: var(--primary-color);
    font-size: 22px;
    width: 60px;
    height: 60px;
    line-height: 63px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s;
    position: absolute;
    top: 40px;
    right: 40px;
    align-items: center;
}
.popup-search-box #closeSearch:hover{
    background-color: var(--light-color);
    border-color: transparent;
    border-color: transparent;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    line-height: 63px;

}
.popup-search-box form{
    margin: 300px 350px 300px 400px;
    position: relative;
}
.popup-search-box input{
    padding: 15px 450px 15px 30px;
    border: none;
    background-color: transparent;
    border-radius: 30px;
    color: var(--light-color);
    font-family: var(--body-font);
    border: 2px solid var(--primary-color);
    font-size: 20px;
}
.popup-search-box form button{
    background-color: transparent;
    border: transparent;
    color: var(--light-color);
    position: absolute;
    right: 88px;
    top: 17px;
    font-size: 25px;
}
/* popup-search-box css ended */
/* side manu css start */
.btn{
    border: none;
    background-color: var(--primary-color);
    font-size: 30px;
    padding: 10px 14px 6px 14px;
    border: 1px solid var(--primary-color);
}
#offcanvasExample .offcanvas-header{
    background-color: rgba(28,185,200,0.1);
    padding-top: 40px;
    padding-bottom: 30px;
    align-items: center;
    position: relative;
}
#offcanvasExample .offcanvas-header a{
   margin-left: 100px;
}
#offcanvasExample .offcanvas-header button{
    font-size: 35px;
    position: absolute;
    top: 30px;
    right: 30px;
    width: auto;
    height: auto;
}
.offcanvas-body .manu_name{
    margin-top: 25px;
    margin-bottom: 35px;
}
.offcanvas-body .manu_name li a{
    display: inline-block;
    color: var(--text-Color);
    border-bottom: 1px solid rgb(206, 202, 202);
    width: 90%;
    margin-right: 40px;
    margin-left: 20px;
    padding: 12px 0;
    font-size: 16px;
    font-family: var(--body-font);
}
.offcanvas-body .item_name .item_name_2{
    margin-bottom: 20px;

}
.offcanvas-body .item_name .item_name_2 a{
    color: var(--text-Color);
    font-size: 16px;
    font-family: var(--body-font);
    margin-left: 20px;
}
.offcanvas-body .item_name .last_item_name a{
    color: var(--text-Color);
    font-size: 16px;
    font-family: var(--body-font);
}
.offcanvas-body .item_name .item_name_2 a i{
    margin-right: 10px;
}
.offcanvas-body .item_name .last_item_name a i{
    margin-right: 10px;
}
.offcanvas-body .item_name .last_item_name{
    border-bottom: 1px solid rgb(206, 202, 202);
    width: 90%;
    padding-bottom: 35px;
    margin-left: 20px;
    margin-bottom: 35px;
}
.offcanvas .offcanvas-body .dropdown ul li select{
    background-color: var(--light-color);
    color: var(--text-Color);
    font-size: 16px;
    font-family: var(--primary-font);
}
.offcanvas .offcanvas-body .dropdown ul{
    margin: 0 30px 0 20px;
}
/* side manu css ended */
/* =========== Navbar Css End =========== */

/* =========== Banner Css Start=========== */
#banner .banner_slider_item{
    height: 800px;
    background-size: cover !important;
    background-position: center !important;
}
#banner .banner_slider_item_1{
    height: 800px;
    background-size: cover !important;
    background-position: center !important;
}
#banner .banner_slider .banner_slider_item .container div h5{
    color: #1D1D1D;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
#banner .banner_slider .banner_slider_item_1 .container div h5{
    color: var(--light-color);
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
#banner .banner_slider .banner_slider_item .container div h1{
    color: #1D1D1D;
    font-family: var(--primary-font);
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    margin: 14px 0px 16px 0px; 
}
#banner .banner_slider .banner_slider_item_1 .container div h1{
    color: var(--light-color);
    font-family: var(--primary-font);
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    margin: 14px 0px 16px 0px; 
}
#banner .banner_slider .banner_slider_item .container div p{
    color: #1D1D1D;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 29px;
}
#banner .banner_slider .banner_slider_item_1 .container div p{
    color: var(--light-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 29px;
}
#banner .banner_slider .banner_slider_item .container div a{
    color: var(--light-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    background-color: #1D1D1D;
    padding: 13px 37px;
    cursor: pointer;
    transition: .4s;
}
#banner .banner_slider .banner_slider_item .container div a:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
}
#banner .banner_slider .banner_slider_item .container div a i{
    margin-left: 11px;
}
#banner .banner_slider .banner_slider_item_1 .container div a i{
    margin-left: 11px;
}
#banner .banner_slider .banner_slider_item_1 .container div a{
    color: var(--light-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    background-color: var(--primary-color);
    padding: 13px 37px;
    cursor: pointer;
    transition: .4s;
}
#banner .banner_slider .banner_slider_item_1 .container div a:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
}
#banner .banner_slider .slick-dots li button{
    font-size: 0;
    border: none;
    background-color: var(--light-color);
    width: 10px;
    height: 6px;
    border-radius: 5px;
    transition: .6s;
}
#banner .banner_slider .slick-dots li.slick-active button{
    width: 26px;
    background-color: var(--primary-color);
}
#banner .banner_slider .slick-dots{
    display: flex;
    position: absolute;
    left: 113px;
    bottom: 28%;
}
#banner .banner_slider .slick-dots li{
    line-height: 0;
    margin-right: 5px;
}
/* =========== Banner Css End =========== */
/* =========== Feature Category Css Start=========== */

#feature{
    margin-top: 110px;
}

#feature .col-lg-5 .cream-img-2{
    margin-top: 24px;
}
#feature .col-lg-5 .cream-img-3{
    margin-left: 24px;
}

.cream-img-1{
    position: relative;
}
.cream-img-2{
    position: relative;
}
.cream-img-3{
    position: relative;
}
.overlay-beauty-cream{
    position: absolute;
    background-color: #11161e6e;
    z-index: 97;
    text-align: center;
    color: var(--light-color);
    width: 496px;
    height: 260px;
    left: 20px;
    top: 20px;
    padding-top: 94px;
    transition: .5s;
    transform: scale(0);
}
.col-lg-7 .overlay-beauty-cream{
    padding-top: 260px;
    width: 710px;
    height: 591px;
    left: 23px;
    top: 15px;
}
.cream-img-1:hover .overlay-beauty-cream{
    transform: scale(1);
}
.cream-img-2:hover .overlay-beauty-cream{
    transform: scale(1);
}
.cream-img-3:hover .overlay-beauty-cream{
    transform: scale(1);
}
.overlay-beauty-cream h3{
    color: var(--light-color);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    transition: .5s;
}
.overlay-beauty-cream a{
    color: var(--light-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    transition: .5s;
}
.overlay-beauty-cream a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 40%;
    bottom: 94px;
    background-color: var(--primary-color);
    transition: .5s;
}
.overlay-beauty-cream a:hover::before{
    width: 97px;
    
}
.col-lg-7 .overlay-beauty-cream a::before{
    left: 43.5%;
    bottom: 44%;
}
.overlay-beauty-cream h3:hover{
    color: var(--primary-color);
}
.overlay-beauty-cream a:hover{
    color: var(--primary-color);
}   
/* =========== Feature Category Css End =========== */
/* =========== Best Spa Css Start=========== */
#best_spa .item{
    height: 524px;
    background-size: cover !important;
    background-position: center !important;
}
#best_spa .item h1{
    color: var(--light-color);
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 100px;
}
#best_spa .item p{
    color: var(--light-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    margin-bottom: 60px;
    margin-top: 5px;
}
#best_spa .item a{
    color: var(--light-color);
    text-align: center;
    font-family:var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    border: 1px solid var(--light-color);
    background-color: transparent;
    padding: 17px 40px 17px 34px;
    cursor: pointer;
    transition: .5s;
}
#best_spa .item a:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
#best_spa .item a i{
    margin-left: 5px;
}
.mega-hover2 {
    position: relative;
    overflow: hidden
}

.mega-hover2:before {
    content: '';
    position: absolute;
    pointer-events: none;
    opacity: 1;
    z-index: 3;
    top: 0;
    right: 51%;
    bottom: 0;
    left: 50%;
    background: rgba(255,255,255,0.2);
    -webkit-transform: skew(45deg);
    -ms-transform: skew(45deg);
    transform: skew(45deg)
}

.mega-hover2:hover:before {
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 900ms linear;
    transition: all 900ms linear
}

/* =========== Best Spa Css End =========== */
/* =========== Footer Css Start=========== */
#footer .footer_wrapper{

}
/* =========== Footer Css End =========== */

